{% extends 'blog/base.html' %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title">Этот пост доступен только подписчикам</h1>
                        <p class="card-text">Для доступа к этому контенту, пожалуйста, оформите подписку.</p>
                        <a href="{% url 'users:perform_create' %}" class="btn btn-primary">Оформить подписку</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}